.col-sm-5
  %p.in-gold-500.font-18.mb-25= t('settings.email')
  = form_for(current_user, as: :email, method: :post, class: 'general-form-md', remote: true, url: update_email_path) do |f|
    .form-group.mb-35
      = f.label :email, t('auth.enter_email'), class: 'control-label input-label'
      = f.email_field(:email,
                      autofocus: true,
                      autocomplete: 'email',
                      id: 'email',
                      class: 'form-control',
                      required: true,
                      placeholder: t('auth.enter_email'))
    .general-text-align
      = f.submit t('settings.save'), class: 'btn btn-default mb-35'

.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25= t('auth.password')
  = form_for(current_user, as: :new_password, method: :post, class: 'general-form-md divider-lg-bottom pb-25', remote: true, url: update_password_path) do |f|
    .form-group.mb-30
      = f.label :current_password, t('settings.old_password'), class: 'control-label input-label'
      = f.password_field(:current_password,
                        autocomplete: 'current_password',
                        class: 'form-control',
                        required: true,
                        placeholder: t('settings.old_password'))

    .form-group.mb-30
      = f.label :password, t('auth.type_new_password'), class: 'control-label input-label'
      = f.password_field(:password,
                        autocomplete: 'password',
                        class: 'form-control',
                        required: true,
                        placeholder: t('auth.type_new_password'))

    .form-group.mb-40
      = f.label :password_confirmation, t('auth.confirm_password'), class: 'control-label input-label'
      = f.password_field(:password_confirmation,
                      autocomplete: 'password_confirmation',
                      class: 'form-control',
                      required: true,
                      placeholder: t('auth.confirm_password'))

    .general-text-align
      = f.submit t('settings.save'), class: 'btn btn-default mb-10'

.col-sm-12
  %p.in-gold-500.font-18.mb-25= t('settings.remove')
  = simple_form_for :user, url: destroy_account_path do |f|
    .general-settings-btn
      = f.button :submit, t('settings.please_remove'), class: 'btn mb-20', id: 'delete', disabled: true

    .form-group.checkbox.general-settings-checkbox
      %label.checkbox-label{ onclick: "account_destroy();" }
        %input.checkbox-input{type: "checkbox", hidden: "true", id: "agree"}
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text= t('settings.understand')
