%ul.nav.navbar-nav
  %li
    %a{href: root_path}= t('default.home')
  %li
    %a{href: books_path}= t('default.shop')

  - if user_signed_in?
    %li
      %a{href: "", method: :delete}= current_user.name || current_user.email[/[^@]+/].capitalize
    %li.dropdown
      %a.dropdown-toggle{href: "", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - if current_user.image
          = image_tag(current_user.image, class: 'img-responsive img-circle img-thumbnail')
        - else
          = image_tag('https://book-store-dmitriev.s3.eu-west-2.amazonaws.com/no_avatar.png', class: 'img-responsive img-circle img-thumbnail', size:'42x42')
      %ul.dropdown-menu
        %li
          %a{href: "#"} Orders
        %li
          %a{href: edit_user_registration_path} Settings
        %li.divider{role: "separator"}
        %li
          = link_to t('default.logout'), destroy_user_session_path, method: :delete
    

  - else
    %li
      %a{href: new_user_session_path}= t('default.login')
    %li
      %a{href: new_user_registration_path}= t('default.register')
