= content_for(:title, t('shop.catalog') + ' | ')
%main.container
  %h1.general-title-margin= t('shop.catalog')
  .hidden-xs.clearfix
    = render partial: 'sorting'

    = render partial: 'filter'

  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('shop.filter_by')
    .dropdown
      = render partial: 'mobile_filter'

    %p.lead.small.mb-10= t('shop.sort_by')
    .dropdown
      = render partial: 'mobile_sort'

  .mb-120
    = render partial: 'books', object: @books
    .text-center
      = render partial: 'view_more', object: @books
