= content_for(:title, t(:catalog) + ' | ')
%main.container
  %h1.general-title-margin= t(:catalog)
  .hidden-xs.clearfix
    = render partial: 'sorting'

    = render partial: 'filter'

  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t(:filter_by)
    .dropdown
      = render partial: 'mobile_filter'

    %p.lead.small.mb-10= t(:sort_by)
    .dropdown
      = render partial: 'mobile_sort'

  .mb-120
    = render partial: 'books', object: @books
    .text-center
      = render partial: 'view_more', object: @books
