= content_for(:title, 'Catalog | ')
%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    = render partial: 'sorting'

    = render partial: 'filter'

  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      = render partial: 'mobile_filter'

    %p.lead.small.mb-10 Sort by
    .dropdown
      = render partial: 'mobile_sort'

  .mb-120
    = render partial: 'books', object: @books
    .text-center
      = render partial: 'view_more', object: @books
