= content_for(:title, @book.title + ' | ')
%main.container
  = link_to :back, class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        - if @book.images.any?
          .mb-20
            = image_tag(@book.images[0], class: 'img-responsive')
          .images.clearfix
            - @book.images.each do |image|
              %a.img-link
                = image_tag(image.variant(resize: "150x150>"), class: 'img-responsive')
        - else
          = image_tag('no_cover.jpg', class: 'img-shadow general-thumbnail-img')

    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small
        = @book.decorate.authors_names
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= number_to_currency(@book.price)
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text", value: "1"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg.description
        %p Description
        %p.lead.small.line-height-2
          = truncate(@book.description, length: 250)
          - if @book.description.size > 250
            = link_to 'Read more', @book, class: 'in-gold-500 ml-10', remote: true
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= @book.year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Category
          %p.lead.small.pull-right= @book.decorate.categories_names
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right= @book.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right 
            = @book.materials

  .mb-80
    = render partial: 'write_review'

  .mb-80
    = render partial: 'reviews'
