= content_for(:title, t('order.checkout') + ' | ')
%main.container
  %h1.general-title-margin= t('order.checkout')
  %ul.steps.list-inline
    %li.step.active
      %span.step-number 1
      %span.step-text.hidden-xs= t('checkout.address')
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs= t('checkout.delivery.delivery')
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs= t('checkout.payment.payment')
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs= t('checkout.confirm')
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs= t('checkout.complete')
  .res-mb-100
    = form_for(current_user, url: wizard_path, method: :put) do |field|
      = field.fields_for :billing, @billing_builder do |f|
        .form-group
          = f.label :first_name, t('settings.first_name'), class: 'control-label input-label'
          = f.text_field(:first_name,
                          autofocus: true,
                          autocomplete: 'first_name',
                          class: 'form-control',
                          required: true,
                          placeholder: t('settings.first_name'))

        .form-group
          = f.label :last_name, t('settings.last_name'), class: 'control-label input-label'
          = f.text_field(:last_name,
                          autofocus: true,
                          autocomplete: 'last_name',
                          class: 'form-control',
                          required: true,
                          placeholder: t('settings.last_name'))

        .form-group
          = f.label :address, t('settings.address'), class: 'control-label input-label'
          = f.text_field(:address,
                          autofocus: true,
                          autocomplete: 'address',
                          class: 'form-control',
                          required: true,
                          placeholder: t('settings.address'))

        .form-group
          = f.label :city, t('settings.city'), class: 'control-label input-label'
          = f.text_field(:city,
                          autofocus: true,
                          autocomplete: 'city',
                          class: 'form-control',
                          required: true,
                          placeholder: t('settings.city'))

        .form-group
          = f.label :zip, t('settings.zip'), class: 'control-label input-label'
          = f.text_field(:zip,
                          autofocus: true,
                          autocomplete: 'zip',
                          class: 'form-control',
                          required: true,
                          type: "number",
                          placeholder: t('settings.zip'))

        .form-group
          = f.label :country, t('settings.country'), class: 'control-label input-label'
          = f.text_field(:country,
                          autofocus: true,
                          autocomplete: 'country',
                          class: 'form-control',
                          required: true,
                          placeholder: t('settings.country'))

        .form-group.mb-60
          = f.label :phone, t('settings.phone'), class: 'control-label input-label'
          = f.text_field(:phone,
                          autofocus: true,
                          autocomplete: 'phone',
                          class: 'form-control',
                          required: true,
                          pattern: Constants::PHONE_PATTERN,
                          placeholder: t('settings.phone'))

        .text-center.general-text-align
          = field.submit t('checkout.save'), class: 'btn btn-default mb-20', id: "continue"
