= content_for(:title, t('order.checkout'))
%main.container.general-main-wrap
  %h1.general-title-margin= t('order.checkout')
  = render 'progress_bar'

  .row.mb-20

    = render 'billing'

    .col-sm-3
      %h3.general-subtitle= t('checkout.delivery.delivery')
      %p.general-address
        = current_order.delivery.method
        %br
        = current_order.delivery.days

    .col-sm-3
      %h3.general-subtitle= t('checkout.payment.payment')
      %p.general-address
        = current_user.credit_card.number
        %br
        = current_user.credit_card.expiration_date

  = render 'order_items'

  .text-center.general-text-right
    = render 'order_summary'

  .text-center
    = button_to t('checkout.place'), wizard_path, method: :put, class: 'btn btn-default mb-20 center-block'
