= content_for(:title, t('order.checkout') + ' | ')
%main.container
  %h1.general-title-margin= t('order.checkout')
  %ul.steps.list-inline
    %li.step.done
      %span.step-number
        %i.fa.fa-check.step-icon
      %span.step-text.hidden-xs= t('checkout.address')
    %li.step-divider
    %li.step.active
      %span.step-number 2
      %span.step-text.hidden-xs= t('checkout.delivery.delivery')
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs= t('checkout.payment.payment')
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs= t('checkout.confirm')
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs= t('checkout.complete')

  = simple_form_for current_order, url: wizard_path, method: :put do |f|
    .hidden-xs.mb-res-50
      %table.table.table-hover
        %thead
          %tr
            %th.col-method
              %span.in-grey-600.ml-40= t('checkout.delivery.method')
            %th
              %span.in-grey-600= t('checkout.delivery.days')
            %th
              %span.in-grey-600= t('checkout.delivery.price')
        %tbody
          - @deliveries.each do |delivery|
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.radio-label
                    -# %input.radio-input{type: "radio", hidden: "true"}
                    = f.radio_button :delivery_id, delivery.id, class: 'radio-input', hidden: true
                    %span.radio-icon
                    %span.radio-text= delivery.method
              %td
                %span= delivery.days
              %td
                %span.font-16.in-gold-500= number_to_currency(delivery.price)

      .general-text-align
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table
          %tr
            %td
              %p.font-16 Subtotal:
            %td
              %p.font-16 €117.69
          %tr
            %td
              %p.font-16 Coupon:
            %td
              %p.font-16 €0.00
          %tr
            %td
              %strong.font-18 Order Total:
            %td
              %strong.font-18 €117.69
    .text-center
      = f.submit t('checkout.save'), class: 'btn btn-default mb-20', id: "continue"
