= content_for(:title, t('order.checkout'))
%main.container.mb-res-50
  %h1.general-title-margin= t('order.checkout')
  = render 'progress_bar'

  %h3.general-subtitle= t('checkout.payment.card')
  = form_for current_user, url: wizard_path, method: :put do |field|
    = field.fields_for :credit_card do |f|
      .max-600.mb-80
        = f.label :number, t('checkout.payment.number'), class: 'control-label input-label'
        = f.text_field :number, placeholder: t('checkout.payment.number'), class: 'form-control'
        .row
          .col-sm-6
            .form-group
              = f.label :number, t('checkout.payment.card_name'), class: 'control-label input-label'
              = f.text_field :card_name, placeholder: t('checkout.payment.card_name'), class: 'form-control'
          .col-sm-3
            .form-group
              = f.label :number, t('checkout.payment.date'), class: 'control-label input-label'
              = f.text_field :expiration_date, placeholder: t('checkout.payment.date'), class: 'form-control'
          .col-sm-3
            .form-group.relative
              = f.label :number, t('checkout.payment.cvv'), class: 'control-label input-label'
              = f.text_field :cvv, placeholder: t('checkout.payment.cvv'), class: 'form-control'

    .general-text-align
      = render 'order_summary'

    .text-center
      = field.submit t('checkout.save'), class: 'btn btn-default mb-20'
