%main.container.general-main-wrap
  %h1.general-title-margin Cart
  = render partial: 'index_mobile'

  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600 Product
        %th.col-title
        %th.col-price
          %span.in-grey-600 Price
        %th.col-quantity
          %span.in-grey-600 Quantity
        %th.col-total
          %span.in-grey-600 SubTotal
        %th.col-close
      - @order.order_items.each do |order_item|
        %tr
          %td
            .general-img-wrap-table
              - if order_item.book.images.any?
                = image_tag(order_item.book.decorate.cover, class: 'cart-img-shadow pull-left')
              - else
                = image_tag('no_cover.jpg', class: 'img-shadow general-thumbnail-img')

          %td
            %p.title
              = link_to order_item.book.title, order_item.book

          %td
            %span.font-16.in-gold-500= number_to_currency(order_item.book.price)

          %td
            .input-group
              %a.input-link{ onclick: "decrementItemQuantity(#{order_item.book.price}, #{order_item.book.id});" }
                %i.fa.fa-minus.line-heaght-40
              %input.form-control.quantity-input{value: order_item.quantity, type: "text", id: 'quantity_input' + order_item.book.id.to_s}
              %a.input-link{ onclick: "incrementItemQuantity(#{order_item.book.price}, #{order_item.book.quantity}, #{order_item.book.id});" }
                %i.fa.fa-plus.line-heaght-40

          %td
            %span.font-16.in-gold-500{ id: 'subPrice' + order_item.book.id.to_s }= number_to_currency(order_item.book.price * order_item.quantity)

          %td
            %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
              %span{'aria-hidden': "true"} &times;

  = render partial: 'summarize'
