!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %title= yield(:title) + 'Bookstore'
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# %link{href: "../css/style.css", rel: "stylesheet"}
    -# %link{href: "../assets/style.css", rel: "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag :defaults
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    = render partial: 'shared/header', cached: true                

    = yield

    = render partial: 'shared/footer', cached: true 

    %script{src: "https://use.fontawesome.com/67602d7308.js"}
    -# %script{src: "../../javascripts/jquery.js"}
    -# %script{src: "../../javascripts/bootstrap.js"}
